.review__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/*top panel*/
.reviews {
    margin-top: 47px;
    margin-bottom: 52px;
    font-style: normal;
    font-weight: bold;
    line-height: 29px;
    color: #272727;
}

.reviews__panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin-bottom: 36px;
}

.reviews__button._feedback {
    background: #FF5823;
    padding: 12px 30px;
    width: 178px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 33px 43px 0px 33px;
    margin-left: 20px;
    cursor: pointer;
    -webkit-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    -o-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.reviews__button._feedback:hover {
    background: #FF7B02;
}

.reviews__general-impressions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: auto;
}

.reviews__impression svg {
    min-width: 25px;
    max-width: 25px;
    height: 25px;
    margin: 0 7px;
}

.reviews__impression {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 7px 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: #9B9B9B;
    cursor: default;
}

.reviews__impression:not(:last-of-type) {
    margin-right: 9px;
}

.reviews__impression span {
    font-size: 15px;
    color: #000000;
}

.reviews__total-feedback {
    margin-right: 20px;
    color: #9B9B9B;
    font-size: 14px;
    font-weight: 500;
}

.reviews__panel h2 {
    margin: 0;
}

.reviews__impression p {
    font-size: 12px;
}

.reviews__impression:nth-child(2) span {
    font-size: 20px;
}

/*feedback form*/
.reviews-feedback {
	display: none;
    position: fixed;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 11;
    -webkit-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    -o-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 0;
}
.reviews-feedback._show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.reviews-feedback__blackout {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 12;
    background-color: #000000a6;
}
.reviews-feedback__wrapper {
    max-width: 671px;
    width: 100%;
    padding: 40px 50px;
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
    z-index: 13;
    top: -100vh;
    -webkit-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    -o-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.reviews-feedback__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 23px;
    right: 26px;
    cursor: pointer;
}
.reviews-feedback__close svg {
    width: 100%;
    height: 100%;
    fill: #272727;
    -webkit-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    -o-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.reviews-feedback__close:hover svg {
    fill: #FF5533;
}
.custom-radio svg {
    min-width: 22px;
    max-width: 22px;
    height: 22px;
    margin-right: 10px;
}
.form-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 20px;
}
.visual-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.form-group._upload-file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 139px;
    border: 1px solid #C4C4C4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
    margin-top: 20px;
    -webkit-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    -o-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.form-group._upload-file label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.form-group._upload-file label span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #7C7C7C;
    margin-top: 10px;
    flex-direction: column;
}
.form-group._upload-file label span > span {
    margin-top: 0;
    font-size: 12px;
}
.form-group._upload-file svg {
    min-width: 33px;
    max-width: 33px;
    height: 33px;
    fill: #C4C4C4;
}
.form-group._upload-file._uploaded {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.form-group._upload-file._uploaded label {
    display: none;
}
.form-group._upload-file.highlight {
    background-color: #ececec;
}
.reviews-feedback__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #272727;
}
.custom-radio label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 33px;
    padding: 8px 16px;
    -webkit-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    -o-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    cursor: pointer;
}
.custom-radio input:checked + label {
    background-color: #272727;
    color: #FFFFFF;
    border: 1px solid #272727;
}
.reviews-feedback__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #272727;
    margin-bottom: 20px;
}
.custom-radio {
    margin-right: 10px;
}
.form-group input {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    padding: 16px;
}
.form-group input::-webkit-input-placeholder, .form-group textarea::-webkit-input-placeholder {
    color: #7C7C7C;
}
.form-group input::-moz-placeholder, .form-group textarea::-moz-placeholder {
    color: #7C7C7C;
}
.form-group input:-ms-input-placeholder, .form-group textarea:-ms-input-placeholder {
    color: #7C7C7C;
}
.form-group input::-ms-input-placeholder, .form-group textarea::-ms-input-placeholder {
    color: #7C7C7C;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #7C7C7C;
}
.form-group textarea {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
    resize: none;
    width: 100%;
    height: 145px;
}
.reviews-feedback__submit {
    background: #FF5823;
    border-radius: 33px 33px 0px 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 42px;
}
.img-upload__preview {
    width: 100%;
    height: 100%;
    display: none;
}
.img-upload__preview._loaded {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.img-upload__preview img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.form-group .img-upload__reset {
    position: absolute;
    top: -10px;
    right: -10px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: grey;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    padding: 4px;
}

.form-group .img-upload__reset svg {
    width: 100%;
    height: 100%;
    fill: white;
    min-width: 100%;
    max-width: 100%;
}
.error__field {
    color: red;
    margin-top: 10px;
}




.reviews__container {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 25px rgb(0 0 0 / 25%);
            box-shadow: 0px 4px 25px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.reviews__name {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #272727;
}

.reviews__date {
	font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #9B9B9B;
}

.reviews__image {
    width: 100%;
    height: 244.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.reviews__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.reviews__assessment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px;
}

.reviews__grade svg {
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

.reviews__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #272727;
}
.reviews__description {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #272727;
}

.review__useful {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 18px;
}
.reviews__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.reviews__icon._like {
    margin-right: 15px;
    margin-top: -10px;
}
.reviews__icon._like._voted svg {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.review__useful svg {
    width: 23.05px;
    height: 22px;
    margin-right: 8px;
    cursor: pointer;
}
.reviews__icon._like svg {
    margin-bottom: 5px;
}
.review__useful span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    cursor: default;
}
.reviews__icon._dislike {
    margin-top: -7px;
}
.reviews__answer {
    margin-top: 30px;
    position: relative;
}

.reviews__company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 15px;
}

.reviews__logo {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 10px;
}

.reviews__logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.reviews__grade {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #9B9B9B;
}

.review__useful span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.reviews__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.reviews__icon._like {
    margin-right: 14px;
}

.reviews__answer:before {content: '';position: absolute;top: -17px;right: 0;left: 0;height: 0.5px;background-color: #9B9B9B;}

.reviews__wrapper.grid {
    width: 100%;
    min-height: 100%;
    height: 100vh;
}

.reviews__item.grid__item {
    position: absolute;
    width: 366px;
}
.load-more {
    border: 1px solid #272727;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 33px;
    padding: 11px 0;
    width: 163px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 43px auto 0;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #272727;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1170px) {
/*    .reviews__item.grid__item {
        width: 290px;
    }*/
}

@media screen and (max-width: 1170px) {
    .reviews__panel {
        display: -ms-grid;
        display: grid;
    }
    span.reviews__button._feedback {
        -ms-grid-row: 3;
        grid-row: 3;
        margin-top: 15px;
        margin-left: 0;
    }
    .reviews__panel h2 {
        margin-bottom: 0px;
    }
    .reviews__general-impressions {
        display: -ms-grid;
        display: grid;
        margin-left: unset;
        width: 100%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    }
    .reviews__total-feedback {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1/4;
        margin-bottom: 10px;
    }
}

/*@media screen and (max-width: 960px) {

}*/

/*@media screen and (max-width: 768px) {
    .reviews__item.grid__item {
        max-width: 335px;
        width: 100%;
    }
}*/

@media screen and (max-width: 560px) {
/*    .reviews__wrapper.grid {
        height: auto;
    }*/
    .reviews__impression p {
        display: none;
    }
    .reviews__impression {
        padding: 7px 16px;
    }
/*    .reviews__item.grid__item {
        max-width: 100%;
        width: 100%;
        position: relative;
        margin-bottom: 15px;
    }*/
    .reviews-feedback._show {
	    z-index: 99999;
	    width: 100%;
	    height: 100%;
	}
	.reviews-feedback__wrapper {
	    width: 100%;
	    height: 100%;
	    border-radius: unset;
	    padding: 25px;
	}
	.reviews-feedback__close {
	    top: 17px;
	    right: 17px;
	}
	.form-group._upload-file {
	    height: 97px;
	}
	.form-group {
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	    margin-bottom: 10px;
	}
	button.reviews-feedback__submit {
	    width: 100%;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	.form-group textarea {
	    height: 124px;
	}
	.custom-radio p {
	}
	.custom-radio label {
	    padding: 10px 11px;
	}
	.custom-radio label:last-child {
	    margin-top: 10px;
	}
	.reviews-feedback__subtitle {
	    margin-bottom: 5px;
	}
    .reviews-feedback__wrapper form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 30px;
    }
}
/*review style end*/



/*временные стили для увеличенной картинки*/
.enlarge-image {
    transition: 0.2s;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
}

.enlarge-image__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

/*.enlarge-image__blackout {
    position: relative;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}*/

.enlarge-image__close svg {
    width: 100%;
    height: 100%;
    fill: white;
}

.enlarge-image__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}
.enlarge-image__arrow._enlarge-image__next {
    right: 100px;
}
.enlarge-image__arrow._enlarge-image__prev {
    left: 100px;
}
.enlarge-image__arrow._enlarge-image__next svg {
    transform: rotate(180deg);
}
.enlarge-image__arrow svg {
    height: 22.5px;
    width: 12.98px;
}
.enlarge-image__container{
    position:fixed;
    width: 100%;
    height: 245px;
    transition: 155ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.enlarge-image__data {
    width: 100%;
}
.enlarge-image__container._bordered{
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.enlarge-image__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.enlarge-image__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    margin-top: 17px;
}


.enlarge-image__grade {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #9B9B9B;
}

.enlarge-image__date {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #9B9B9B;
}

.enlarge-image__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlarge-image__right span {
    margin-right: 30px;
}

.enlarge-image__grade svg {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.enlarge-image__commentary {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 24px;
}


.enlarge-image__arrow._disabled {
    opacity: 0.5;
    pointer-events: none;
}
